.result
{
  border: 1px solid #000;
  padding: 40px;
  max-width: 600px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 120px;
}
.result__info:not(:last-of-type)
{
  margin-bottom: 20px;
  line-height: 1.4;
}
@media screen and (max-width: 1100px)
{
  .result
  {
    display: block;
    padding: 20px;
    margin: 40px 0 0;
  }
}
